Java Code/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload5.csv
Java Code/.metadata/.plugins/org.eclipse.jdt.core/2120081177.index
Java Code/.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
Java Code/.metadata/.plugins/org.eclipse.jdt.core/2120081177.index
Java Code/.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
Java Code/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload5.csv
Java Code/.metadata/.plugins/org.eclipse.core.resources/.projects/SGI/org.eclipse.jdt.core/state.dat